PORT=5001
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/task-react-node-typescript
CLIENT_URL=http://localhost:5173
BACKEND_SECRET_KEY=your-secret-key-here
CLIENT_SECRET_KEY=your-secret-key-here
JWT_SECRET=your-jwt-secret-here
